body {
    background-color: #1b2838;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .MuiContainer-root {
    padding-top: 20px;
  }
  
  .MuiCard-root {
    background-color: hsl(207, 44%, 86%);
    color: white;
  }
  
  .MuiButton-root {
    color: white;
    border-color: white;
  }
  
  .MuiTypography-h6 {
    font-weight: bold;
  }
  